<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="~{fragments/head}"></head>


<body>
<main class="container col-xl-10 col-lg-11 col-md-12 col-12 p-xl-5 p-lg-5 p-md-3 p-3 mx-auto bg-blur">
    <header th:include="~{fragments/nav}"></header>
    <hr class="p-1 ">
    <h1 class="text">Digitale Produkte</h1>
    <hr class="border-bottom w-95">


    <div class="row portfolio-box megamenu-padding-box">
        <div class="col-xl-3 col-lg-3 col-md-4 col-xs-6 col-sm-6 col-9 mx-auto mx-sm-0 mx-md-0 mx-lg-0 mx-xl-0 filter abstract print p-2"
             style="text-align: center">
            <div class="overlay-box mb-3">
                <a th:href="@{/online/win}">
                    <img alt="Geld per internet" class="img-fluid" loading="lazy"
                         th:src="@{https://res.cloudinary.com/dhlyb92n1/image/upload/v1653138953/affiliate/digistore24/online%20verdienen/online_verdienen_cpfshn.png}">
                </a>
                <a class="overlay" th:href="@{/online/win}">
                    <div class="cats port-text">
                        <h2>ONLINE VERDIENEN</h2>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-4 col-xs-6 col-sm-6 col-9 mx-auto mx-sm-0 mx-md-0 mx-lg-0 mx-xl-0 filter abstract print p-2"
             style="text-align: center">
            <div class="overlay-box mb-3">
                <a th:href="@{/view/all-psychologie}">
                    <img alt="PSYCHOLOGIE & Therapie" class="img-fluid" loading="lazy"
                         th:src="@{https://res.cloudinary.com/dhlyb92n1/image/upload/v1653139234/affiliate/digistore24/PSYCHOLOGIE%20und%20PERS%C3%96NLICHKEITSENTWICKLUNG/PSYCHOLOGIE_PERS%C3%96NLICHKEITSENTWICKLUNG_qw1nth.png }">
                </a>
                <a class="overlay" th:href="@{/view/all-psychologie}">
                    <div class="cats port-text">
                        <h2>PSYCHOLOGIE & PERSÖNLICHKEITSENTWICKLUNG</h2>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-4 col-xs-6 col-sm-6 col-9 mx-auto mx-sm-0 mx-md-0 mx-lg-0 mx-xl-0 filter abstract print p-2"
             style="text-align: center">
            <div class="overlay-box mb-3">
                <a th:href="@{/online/recht-und-gesetz}">
                    <img alt="Anwälte und Recht" class="img-fluid" loading="lazy"
                         th:src="@{https://res.cloudinary.com/dhlyb92n1/image/upload/v1653140358/affiliate/digistore24/Recht%20und%20Gesetz/Recht_und_Gesetz_slvkvt.png }">
                </a>
                <a class="overlay" th:href="@{/online/recht-und-gesetz}">
                    <div class="cats port-text">
                        <h2>RECHT UND GESETZ</h2>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-4 col-xs-6 col-sm-6 col-9 mx-auto mx-sm-0 mx-md-0 mx-lg-0 mx-xl-0 filter abstract print p-2"
             style="text-align: center">
            <div class="overlay-box mb-3">
                <a th:href="@{/online/dating-und-beziehungen}">
                    <img alt="Dating und Neue Beziehung" class="img-fluid" loading="lazy"
                         th:src="@{https://res.cloudinary.com/dhlyb92n1/image/upload/v1653140477/affiliate/digistore24/Dating%20Beziehungen%20und%20Liebe/Dating_Beziehungen_und_Liebe_jl7ccy.png }">
                </a>
                <a class="overlay" th:href="@{/online/dating-und-beziehungen}">
                    <div class="cats port-text">
                        <h2>DATING, BEZIEHUNGEN & LIEBE</h2>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-4 col-xs-6 col-sm-6 col-9 mx-auto mx-sm-0 mx-md-0 mx-lg-0 mx-xl-0 filter abstract print p-2"
             style="text-align: center">
            <div class="overlay-box mb-3">
                <a class="overlay" th:href="@{/online/sprache-lernen}">
                    <img alt="Fremdsprachen offline und online" class="img-fluid" loading="lazy"
                         th:src="@{https://res.cloudinary.com/dhlyb92n1/image/upload/v1653140660/affiliate/digistore24/Sprache%20lernen/Sprache_lernen_ezdl0k.png}">
                </a>
                <a class="overlay" th:href="@{/online/sprache-lernen}">
                    <div class="cats port-text">
                        <h2>SPRACHE LERNEN</h2>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-4 col-xs-6 col-sm-6 col-9 mx-auto mx-sm-0 mx-md-0 mx-lg-0 mx-xl-0 filter abstract print p-2"
             style="text-align: center">
            <div class="overlay-box mb-3">
                <a class="overlay" th:href="@{/online/forex-bitcoin}">
                    <img alt="Geld und Forex Börse" class="img-fluid" loading="lazy"
                         th:src="@{https://res.cloudinary.com/dhlyb92n1/image/upload/v1653142205/affiliate/digistore24/CDF%20und%20Forex%20und%20Bitcoin/CDF_und_Forex_und_Bitcoin_u0za3g.png}">
                </a>
                <a class="overlay" th:href="@{/online/forex-bitcoin}">
                    <div class="cats port-text">
                        <h2>CDF-FOREX-BITCOIN</h2>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-4 col-xs-6 col-sm-6 col-9 mx-auto mx-sm-0 mx-md-0 mx-lg-0 mx-xl-0 filter abstract print p-2"
             style="text-align: center">
            <div class="overlay-box mb-3">
                <a class="overlay" th:href="@{/online/wettsysteme}">
                    <img alt="Sportwetten" class="img-fluid" loading="lazy"
                         th:src="@{https://res.cloudinary.com/dhlyb92n1/image/upload/v1653141005/affiliate/digistore24/Wettsysteme/Wettsysteme_nkrjuh.png}">
                </a>
                <a class="overlay" th:href="@{/online/wettsysteme}">
                    <div class="cats port-text">
                        <h2>WETTSYSTEME</h2>
                    </div>
                </a>
            </div>
        </div>


        <div class="col-xl-3 col-lg-3 col-md-4 col-xs-6 col-sm-6 col-9 mx-auto mx-sm-0 mx-md-0 mx-lg-0 mx-xl-0 filter abstract print p-2"
             style="text-align: center">
            <div class="overlay-box mb-3">
                <a class="overlay" th:href="@{/online/essen}">
                    <img alt="Sportwetten" class="img-fluid" loading="lazy"
                         th:src="@{ https://res.cloudinary.com/dhlyb92n1/image/upload/v1663873457/affiliate/digistore24/Essen%20und%20Gesundheit/work/Essen_und_Gesundheit_png_22_qato2t.png}">
                </a>
                <a class="overlay" th:href="@{/online/essen}">
                    <div class="cats port-text">
                        <h2>ESSEN & GESUNDHEIT</h2>
                    </div>
                </a>
            </div>
        </div>


    </div>
    <!--search bar-->
    <div class="row mt-5 mx-auto">
        <div class="col-12 mx-auto" id="searchBar">
            <input aria-label="Search" class="form-control mr-sm-2 w-100" id="searchInput"
                   placeholder="Artikel oder Artikelnamen " type="search">
        </div>
    </div>
    <hr class="border-bottom w-95">
    <div class="row mt-5" id="articlesList"></div>
    <!--EQ: search bar-->
</main>
<script th:src="@{/js/search-bar.js}"></script>
<footer th:include="~{fragments/footer}"></footer>
</body>

</html>