<th:block>
    <footer class="container col-xl-10 col-lg-11 col-md-12 col-12 mx-auto">
        <div class="text-center">
            <div class="h5">
                <br>
                <div class="row">
                    <a class="border-right  p-1 " th:href="@{/datenschutz}">Datenschutz</a>
                    <a class="border-right  p-1 " th:href="@{/kontakt}">Kontakt</a>
                    <a class="border-right  p-1 ">HTML karte </a>
                    <a class="border-right  p-1 ">XML karte</a>
                </div>
                <br>
                <p class="text-center"> &copy;ZBteam 2020.</p>
            </div>
        </div>
    </footer>
</th:block>
</html>